@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Raleway', sans-serif;

}
.header{
    background-color: #f0f0f0;
    height: 36px;
    border-bottom: 1px solid rgb(182, 179, 179);
}

.Top-nav{
    line-height: 36px;
}

.Top-nav p{
    font-size: 81.25%;
    line-height: 36px;
    font-weight: 400;

}
.Top-nav h1{
    font-size: 81.25%;
    line-height: 36px;
    font-weight: 400;
    border-right: 1px solid rgb(219, 214, 214);
    padding-right: 15px;
    height:36px;
}

.Top-nav i{
    padding-right: 4px;
    
}

.icon a i{
    color: black;
    
}
.othersicon:hover{
    color: blue;
    
}
.google:hover{
    color: #ce4462;
    
}
.active_class{
    color: blue;
}
.navmainlogo{
    font-size: 27px;
    line-height: 50px;
    font-weight: 700;
    color: #1c1c1c;
}
.navmainlogoitem a{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #00c0e1;
    
}
.navmainlogoitem a button{
    margin-top: -3px;
}




